{% extends "base.html" %}
{% block title %}Academy - Création équipe{% endblock %}
{% block page_header %}Formulaire de création d'équipe{% endblock %}

{% block position %}
<ul class="breadcrumb">
  <li><a href="{% url 'accueil' %}">Home</a></li>
  <li><a href="{% url 'equipes' %}">Equipes</a></li>
  <li class="active">Création équipe</li>
</ul>
{% endblock %}

{% block content %}

<style type="text/css">
    ul.errorlist {
      display: none;
    }
    ul{
     list-style:none;
  }
</style>

<div class="list-group col-lg-5 col-md-5 col-sm-5">

<form  action="{% url 'create_equipe' %}" method="post">
    {% csrf_token %}
    
    {% load bootstrap %}
    {{ form|bootstrap_horizontal }}
    <hr>
    <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-success" style="margin-top: 20px;">Créer</button>
    </div>
</form>

</div>
{% endblock %}