{% extends "base.html" %}
{% block title %}Academy - Liste des sports{% endblock %}
{% block page_header %}Liste des sports{% endblock %}

{% block position %}
<ul class="breadcrumb">
  <li><a href="{% url 'accueil' %}">Home</a></li>
  <li class="active">Sports</li>
</ul>
{% endblock %}

{% block content %}

<style type="text/css">
    h5{
        position: relative;
    }
    h5>span{
        position: absolute;
        right: 10px;
    }
    span>a{
        color: inherit;
    }
</style>



<div class="list-group col-lg-5 col-md-5 col-sm-5">
  
  <h5 href="#" class="list-group-item active">
    Sports
    <span>
      <a href="{% url "create_sport" %}"><i class="glyphicon glyphicon-plus"></i></a>
    </span>
  </h5>

  {% for sport in sports %}
    <span>
      <a href="{% url 'update_sport' id_sport=sport.id %}" class="list-group-item">
        {{ sport.nomSport }}
      </a>
    <span>
  
  {% empty %}
    <a href="#" class="list-group-item">
      Aucun sport.
    </a>
  {% endfor %}
</div>    


{% endblock %}